@charset "UTF-8";

body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif, monospace;
}

/*_______________________________________________________________________________________________________________________*/

#Content {
  position: relative;
  width: 100%;
  height: auto;
}

.Content_block {
  padding: 50px 0px;
}

.Content_block_Text_info {
  position: relative;
  width: 100%;
  height: auto;
  padding-left: 50px;
}

.Content_block_Text_info h1 {
  position: relative;
  font-size: 50px;
  font-weight: 900;
  color: black;
  padding-bottom: 10px;
  border-bottom: solid 2px rgb(160, 160, 160);
}

.Content_block_Text_info .Content_block_text_title {
  position: relative;
  font-size: 30px;
  font-weight: 700;
  border: none;
}

.Content_block_Text_info p {
  position: relative;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 50px;
}

.Content_block_Text_info p b {
  font-weight: 900;
}

.Content_block_text_img {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 50px;
}

.Content_block_img_text {
  position: relative;
  width: 35vw;
  display: block;
  margin: 0 auto;
}

.Content_block_img_text img {
  position: relative;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.silka-klinika {
  text-decoration: none;
  color: black;
  font-weight: 900;
  cursor: pointer;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.silka-klinika:hover {
  color: grey;
}

.End_text {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-top: solid 1px black;
  padding-top: 20px;
}

.End_text p {
  font-size: 19px;
  font-weight: 300;
}

.Content_block_Poular_info {
  position: relative;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.Content_Popular_text {
  width: 50%;
}

.silka-klinika-info {
  text-decoration: none;
  color: black;
  font-weight: 900;
  text-transform: uppercase;
  border: solid 1px black;
  border-radius: 20px;
  padding: 20px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.silka-klinika-info:hover {
  color: white;
  border: solid 1px black;
  background: black;
}

.Citata {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 20px;
  background: whitesmoke;
  border-radius: 20px;
}

.Citata::before {
  content: "ˮ";
  position: absolute;
  bottom: 81%;
  right: 100%;
  font-size: 5em;
  font-weight: 900;
  -webkit-transform: translate(20px, 0px) rotate(180deg);
  -ms-transform: translate(20px, 0px) rotate(180deg);
  transform: translate(20px, 0px) rotate(180deg);
  color: rgb(199, 199, 199);
}

.Citata::after {
  content: "ˮ";
  position: absolute;
  bottom: 0%;
  left: 100%;
  font-size: 5em;
  font-weight: 900;
  -webkit-transform: translate(-17px, 60px) rotate(0deg);
  -ms-transform: translate(-17px, 60px) rotate(0deg);
  transform: translate(-17px, 60px) rotate(0deg);
  color: rgb(199, 199, 199);
}

.Citata p {
  font-size: 19px;
  font-weight: 300;
}

/*_______________________________________________________________________________________________________________________*/

@media only screen and (max-width: 999px) {
  .Content_block_img_text {
    width: 71vw;
  }
}

@media only screen and (max-width: 575px) {
  .Content_block_Text_info h5 {
    font-size: 8vw;
  }

  .Content_block_Text_info p {
    font-size: 4vw;
  }
}
